<!DOCTYPE html>
<html>
	<head>
		<title>Node File Operations Tutorial</title>
	</head>
	<body>
		<form action='/' method='POST'>
			<label for='name'>Name</label>
			<input type='text' id='name' name='name'/><br>

			<label for='student_id'>Student ID</label>
			<input type='text' id='student_id' name='student_id'/><br>

			<label for='major'>Major</label>
			<select id='major' name='major'>
				<option selected="">Big Data</option>
				<option>Digital System Security</option>
				<option>Game and Mobile Development</option>
				<option>Cyber Security</option>
				<option>Information Technology</option>
				<option>Business Information System</option>
			</select><br>

			<input type='submit' value='Submit'/>
		</form>
        <a href='/read_file'>Read File</a>
	</body>
</html>
